<div class=container>

  <app-form-name></app-form-name>

    <p>{{player.name}}, you are at your favorite surfing spot, Sunset Beach!

      Before you can paddle in the TURTLES ATTACK!  Gigantic sea turtles that have had enough of humanity's plastic waste have decided to take the beach back! They are eating a surfer right in front of you.

      Just then a turtle approaches you with a barrel of radioactive waste, he says "I am Tweedle, I will kill you or you can join me. Choose human!"

      What do you do?

      <h4>Join the turtle revolution and slay humanity! (Become irradiated mutant TORTLE)</h4>

      <h4>Run for the hills where their stupid flippers can't bring them!</h4>
    </p>

</div>