<p> You join up with the turtles and declair war on the humans!</p>

<p>After shotgunning a can of radioactive waste you transform into a mighty turtle-monster!  You spit fire and roam ferociously!  All humans shall bend to your will, or die!</p>

<p>But first you must choose a weapon to go to battle with, you can have a trident or a fishing net.</p>

<h4><a routerLink="trident">Choose the trident, like a bad-ass mer-god!</a></h4>

<h4><a routerLink="net">Take the disgusting old fishing net!</a></h4>